/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: fit-content;
}

/* COMMON */
.container {
    width: 97%;
    margin: auto;
}

/* HEADER */
header {
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);  
    background-size: 37%;
    background-position-x: 11%;
    
}

.introduzione-foto {
    margin-bottom: 2%;
}

.descrizione-foto {
    font-size: 12px;
    margin-bottom: 2%;
}

.logo {
    width: 17%;
    margin-top: 4%;
    margin-bottom: 18px;
}

/* MAIN */

.titolo {
    font-size: 50px;
    font-weight: bold;
}

.scritto-da {
    color: #8a8a8a;
}

.the-booleaners {
    color: #29ade6;
}

.date {
    color: #8a8a8a;
}

section > span {
    font-weight: bold;
}

.img-block {
    width: 100%;
}

.testo-evidenziato {
    background: yellow;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.cella-grande {
    width: 1.5%;
}
tr > th {
    height: fit-content;
    width: 1%;
    text-align: left;
    color: white;
}

tr > td {
    height: fit-content;
}

thead {
    background-color: #20a9e5;
    border-color:  #20a9e5;
}

.lightblue-row {
    background-color:#b1e5f2;
    border-color: #b1e5f2;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

.monitor {
    background-image: url("../img/monitor.jpg");
    background-repeat: no-repeat;
    height: 200px;
}

.grafico {
    background-image: url("../img/graph.jpg");
    background-repeat: no-repeat;
    height: 200px;
}

.scritta-img {
    padding-top: 10px;
    margin-left: 2%;
    color: white;
    font-weight: bold;
    font-size: 25px;

}

.potrebbero-interessarti {
    color: #8a8a8a;
    font-weight: bold;
}